In [1]:
import pandas as pd

In [9]:
cont_table = pd.DataFrame(
    data=[[34, 12, 5], [45, 8, 9]],
    index=['Male', 'Female'],
    columns=['Resting', 'Playing', 'Swimming']
)

In [10]:
cont_table

        Resting  Playing  Swimming
Male         34       12         5
Female       45        8         9

In [11]:
cont_table['Total'] = cont_table.sum(axis=1)
cont_table.loc['Total'] = cont_table.sum()
cont_table

        Resting  Playing  Swimming  Total
Male         34       12         5     51
Female       45        8         9     62
Total        79       20        14    113

In [13]:
# Divide each cell by the total number
cont_table_proportions = cont_table.div(cont_table.loc['Total', 'Total'])

# Round the proportions to a desired number of decimal places
cont_table_proportions = cont_table_proportions.round(2)

cont_table_proportions

        Resting  Playing  Swimming  Total
Male        0.3     0.11      0.04   0.45
Female      0.4     0.07      0.08   0.55
Total       0.7     0.18      0.12   1.00

In [15]:
total_value = cont_table.loc['Total', 'Total']

# Divide each intersection value by the total value
cont_table_proportions = cont_table.div(total_value)
cont_table_proportions

         Resting   Playing  Swimming     Total
Male    0.300885  0.106195  0.044248  0.451327
Female  0.398230  0.070796  0.079646  0.548673
Total   0.699115  0.176991  0.123894  1.000000

In [ ]:
#we can clearly see the probabilities of male who are resting, swimming and playing
#also, the female equivalent