In [1]:
import pandas as pd

In [9]:
cont_table = pd.DataFrame(
    data=[[34, 12, 5], [45, 8, 9]],
    index=['Male', 'Female'],
    columns=['Resting', 'Playing', 'Swimming']
)

In [10]:
cont_table

        Resting  Playing  Swimming
Male         34       12         5
Female       45        8         9

In [11]:
cont_table['Total'] = cont_table.sum(axis=1)
cont_table.loc['Total'] = cont_table.sum()
cont_table

        Resting  Playing  Swimming  Total
Male         34       12         5     51
Female       45        8         9     62
Total        79       20        14    113

In [12]:
# Divide each cell by the total number
cont_table_proportions = cont_table.div(cont_table.loc['Total', 'Total'])

# Round the proportions to a desired number of decimal places
cont_table_proportions = cont_table_proportions.round(2)

cont_table

        Resting  Playing  Swimming  Total
Male         34       12         5     51
Female       45        8         9     62
Total        79       20        14    113