In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
df = pd.DataFrame(columns=['chocolate consumption', 'satifcaction'])

# input the data manually
df['chocolate consumption'] = [2, 4, 1.5, 2, 3]
df['satifcaction'] = [7, 3, 8, 8, 6]
df

   chocolate consumption  satifcaction
0                    2.0             7
1                    4.0             3
2                    1.5             8
3                    2.0             8
4                    3.0             6

In [5]:
pearson_r = df['chocolate consumption'].corr(df['satifcaction'])
pearson_r

-0.9644856443408243