In [1]:
import pandas as pd

In [2]:
# create a sample dataset
data = {
    'Bodyweight': ['Normal', 'Normal', 'Overweight', 'Overweight', 'Underweight', 'Normal', 'Overweight', 'Underweight', 'Underweight', 'Overweight'],
    'Chocolate consumption': ['Low', 'High', 'Low', 'Low', 'Low', 'High', 'High', 'Low', 'High', 'High']
}

df = pd.DataFrame(data)

# create a contingency table
cont_table = pd.crosstab(df['Bodyweight'], df['Chocolate consumption'])

In [4]:
cont_table

Chocolate consumption  High  Low
Bodyweight
Normal                    2    1
Overweight                2    2
Underweight               1    2

In [5]:
data = {
    'Bodyweight': ['< 50kg', '50-69kg', '70-89kg', '> 90kg'],
    'Chocolate consumption': ['< 50g','50-150', '> 150g', 'Less than 50g', 'Less than 50g', 'Less than 50g', 'More than 150g', 'More than 150g', 'Less than 50g', 'More than 150g', 'More than 150g']
}

df = pd.DataFrame(data)

# create a contingency table
cont_table = pd.crosstab(df['Bodyweight'], df['Chocolate consumption'])

In [6]:
cont_table

Chocolate consumption  Less than 50g  More than 150g
Bodyweight
50-69kg                            0               2
70-89kg                            1               2
90kg or more                       1               1
Less than 50kg                     3               0