In [1]:
import pandas as pd

In [2]:
# create a sample dataset
data = {
    'Bodyweight': ['Normal', 'Normal', 'Overweight', 'Overweight', 'Underweight', 'Normal', 'Overweight', 'Underweight', 'Underweight', 'Overweight'],
    'Chocolate consumption': ['Low', 'High', 'Low', 'Low', 'Low', 'High', 'High', 'Low', 'High', 'High']
}

df = pd.DataFrame(data)

# create a contingency table
cont_table = pd.crosstab(df['Bodyweight'], df['Chocolate consumption'])

In [4]:
cont_table

Chocolate consumption  High  Low
Bodyweight
Normal                    2    1
Overweight                2    2
Underweight               1    2

In [28]:
data = {
    'Bodyweight': ['< 50kg', '50-69kg', '70-89kg', '> 90kg'],
    'Chocolate consumption': ['< 50g','50-150', '> 150g','> 150']
}

df = pd.DataFrame(data)

# create a contingency table
cont_table = pd.crosstab(df['Bodyweight'], df['Chocolate consumption'])

In [29]:
cont_table

Chocolate consumption  50-150  < 50g  > 150  > 150g
Bodyweight
50-69kg                     1      0      0       0
70-89kg                     0      0      0       1
< 50kg                      0      1      0       0
> 90kg                      0      0      1       0

In [30]:
cont_table = pd.DataFrame(
    data=[[27, 5, 1], [24, 35, 2], [6, 43, 19], [3, 7, 28]],
    index=['< 50kg', '50-69kg', '70-89kg', '> 90kg'],
    columns=['< 50g', '50-150g', '> 150g']
)

In [31]:
cont_table

         < 50g  50-150g  > 150g
< 50kg      27        5       1
50-69kg     24       35       2
70-89kg      6       43      19
> 90kg       3        7      28

In [32]:
cont_table['Total'] = cont_table.sum(axis=1)
cont_table.loc['Total'] = cont_table.sum()

In [33]:
cont_table

         < 50g  50-150g  > 150g  Total
< 50kg      27        5       1     33
50-69kg     24       35       2     61
70-89kg      6       43      19     68
> 90kg       3        7      28     38
Total       60       90      50    200

In [34]:
cont_table

         < 50g  50-150g  > 150g  Total
< 50kg      27        5       1     33
50-69kg     24       35       2     61
70-89kg      6       43      19     68
> 90kg       3        7      28     38
Total       60       90      50    200

In [35]:
for column in cont_table.columns:
    cont_table[column] = cont_table[column] / cont_table.loc['Total', column] * 100

In [36]:
cont_table

         < 50g     50-150g  > 150g  Total
< 50kg    45.0    5.555556     2.0   16.5
50-69kg   40.0   38.888889     4.0   30.5
70-89kg   10.0   47.777778    38.0   34.0
> 90kg     5.0    7.777778    56.0   19.0
Total    100.0  100.000000   100.0  100.0

In [ ]:
#percentages are clearer to see like this
#note: if only one norminal value, use frequency table, if two categorical values, use conti table